@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .overflow-hidden-scrollable {
    -ms-overflow-style: none;
  }

  .overflow-hidden-scrollable::-webkit-scrollbar {
    display: none;
  }
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Supports all weights from 100 to 900 */
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Supports all weights from 100 to 900 */
  font-style: italic;
}

/* Define a utility class for Montserrat */
.font-montserrat {
  font-family: 'Montserrat', 'open-sans', Arial, sans-serif;
}
